    * {
        text-decoration: none;
        margin: 0px;
        padding: 0px;
    }
    body{
        width: 100vw;
        height: auto;
        min-height: 100vh;
        overflow-x: hidden;
        background-color: lightblue;
        font-family: 'Roboto Slab', serif;
    }
    p{
        font-size: 18px;
        line-height: 2;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    .navbar{
        width: 100vw;
        height: 50px;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;
        color: blue;
        font-weight: bold;
        z-index: 1;
        position: fixed;
        border-bottom: 1px solid #1e4470;
    }
    .logo{
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    .menu {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        /* gap: 20px; */
        /* font-size: 1.1rem; */
        /* margin-left: auto; */
        background-color: chartreuse;
    }
    .menu ul{
        width: 40%;
    }
    .menu li {
        list-style-type: none;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu .menu-item a{
        text-transform: uppercase;
    }
    .menu .menu-item a:hover{
        background-color: hotpink;
        height: 30px;
        width: 200px;
        border-radius: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-toggle{
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }
    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: rgb(29, 27, 27);
        border-radius: 3px;
        transition: all 0.5s;
    }
    .menu-toggle input {
        position: absolute;
        height: 28px;
        width: 40px;
        opacity: 0;
        top: -1px;
        left: -6px;
        cursor: pointer;
        z-index: 2;
    }
    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }
    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }
    .menu-toggle input:checked ~ span:nth-child(2){
        background-color: rgb(32, 30, 30);
        transform: rotate(45deg) translate(-1px, -1px);
    }
    .menu-toggle input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }
    .menu-toggle input:checked ~ span:nth-child(4){
        background-color: rgb(24, 22, 22);
        transform: rotate(-45deg) translate(-1px, 0);
    }
    section {
        margin:  auto;
        display: flex;
        margin-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
    img{
        padding-top: 20px;
        width: 800px;
        height: 500px;
        padding-top: 50px;
        border-radius: 20px;
    }
    .kolom{
        margin-top: 50px;
        /* margin-bottom: 50px; */
        padding-left: 20px;
        /* padding-bottom: 5px; */
        /* text-align: center;
        display: flex;
        justify-content: center; */
    }
    .box .content{
        margin: auto;
        text-align: center;
        line-height: normal;
    }
    .kolom .deskripsi {
        font-weight: bold;
        font-size: 20px;
        font-family: 'Coming Soon', cursive;
        color: #364f6b;
        padding-right: 20px;
    }
    .kolom h2{
        font-family: 'Coming Soon', cursive;
        font-weight: 800;
        font-size: 45px;
        margin-bottom: 20px;
        color: #364f6b;
        width: 100%;
        line-height: 50px;
    }
    .kolom .content {
        font-family: 'Coming Soon', cursive;
        text-indent: -5px;

    }
    a.tombol-biru{
        background-color: #3f72af;
        border-radius: 20px;
        /* margin-top: 20px; */
        padding: 15px 20px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        margin-top: 20px;
    }
    a.tombol-biru:hover{
        background-color: #fc5185;
        text-decoration: none;
    }
    a.tombol-pink{
        background-color: #fc5185;
        border-radius: 20px;
        padding: 15px 20px;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
    }
    a.tombol-pink:hover{
        background-color: #3f72af;
        text-decoration: none;
    }
    .content {
        text-align: justify;
        font-size: 15px;
        margin: 10px 0;
        padding: 10px 10px;
    }
    .tengah{ 
        text-align: center;
        width: 100%;
       
    }
    .tutor-list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        /* flex-wrap: wrap; */
        /* padding: 0 50px; */
        /* border: 5px solid black; */
    }
    .kartu-tutor{
        /* Ukuran 20% dari Tutor list */
        width: 20%;
        margin: 0 auto;
    }
    .kartu-tutor img{
        /* height: auto;
        width: auto; */
        /* width: 50%; */
        height: auto;
        width: auto;
        /* border-radius: 40%; */
        /* border: 5px solid black; */
    }
    .kartu-tutor p{
        font-family: 'Coming Soon', cursive;
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        color: #364f6b;

    }
    .partner-list {
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-content: center; */
        width: 100%;
        /* border: 5px solid black; */
        /* position: relative; */
        /* flex-wrap: wrap; */
    }
    .kartu-partner{
        width: 20%;
        margin: 0 auto;
    }
    .kartu-partner img{
        /* display: flex;
        justify-content: center; */
        /* align-items: flex-start; */
        height: 200px;
        margin-top: -30px;
        margin-bottom: 15px;
        width: 200px;
        /* border-radius: 50%; */
    }
    #contact {
        background-color: #dedede;
    }
    .footer{
        width: 100%;
        /* position: relative; */
        display: flex;
        /* flex-wrap: wrap; */
        margin: auto;
        text-align: center;
    }
    .footer-section {
        width: 20%;
        margin: 0 auto;
    }
    h3 {
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 30px;
        color: #364f6b;
        width: 100%;
        line-height: 50px;
    }
    #copyright {
        text-align: center;
        width: 100%;
        padding: 50px 0;
    }
    @media screen and (max-width: 768px) {
        .navbar .menu ul {
            width: 50%;
            /* line-height: 0; */
        }
        .navbar {
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            border-bottom: none;
        }
        /* .navbar {
            height: 80px;
            display: flex;
            align-content: space-between;
        } */
        .menu .menu-item a:hover{
            background-color: hotpink;
            height: 30px;
            /* line-height: 0; */
            width: 100px;
            border-radius: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-bottom: -20px; */
        }
    }
    @media screen and (max-width: 576px) {
        .navbar .menu {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 80%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: transparent;
            z-index: -1;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
        }
        .navbar .menu.slide{
            opacity: 1;
            transform: translateX(0);
        }
        .menu-toggle{
            display: flex;
        }
    }